HEAD responses include body

[RFC 2616 section 9.4](https://tools.ietf.org/html/rfc2616#section-9.4) states:

> The HEAD method is identical to GET except that the server MUST NOT return a message-body in the response.

A `HEAD` request against this simple Rack app running on `thin 1.5.1`:

``` ruby
require 'rack'

run lambda { |env| [200, {}, []] }
```

looks like this on the wire:

``` text
HEAD / HTTP/1.1
User-Agent: curl/7.24.0 (x86_64-apple-darwin12.0) libcurl/7.24.0 OpenSSL/0.9.8x zlib/1.2.5
Host: localhost:9292
Accept: */*

HTTP/1.1 200 OK
Transfer-Encoding: chunked
Connection: close
Server: thin 1.5.1 codename Straight Razor

0

```

As you can see, there is clearly a zero-length chunked encoding body. This is mostly mitigated by the apparent default of turning Keep-Alive off, but is incorrect.
